[Unit]
Description= ETHM
After=multi-user.target
StartLimitIntervalSec=0
[Service]
User=administrator
Type=simple
Restart=always
ExecStart=/usr/bin/python3 -m IntegraPy.demo 192.168.1.7
RestartSec=5
[Install]
WantedBy=multi-user.target